*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

#login-btn{
    justify-self: flex-end;
}

#nav-name{
    flex-grow: 1;
}
.navbar-collapse{
    flex-grow: 0;
}

#banner-container{
    background-image: url(./assets/pexels-markus-spiske-1089440.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    height: 50vh;
    background-attachment: scroll;
}
.banner-content{
    height: 100%;
    width: 100%;
    /* background-color: rgb(0, 0, 0, 0.3); */
}