*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    /* display: flex; */
    /* flex-direction: column; */
    color:#ffa01a;
    background-color: #1a1a1a;
}
.text-orange{
    color:#ffa01a;
}
.bg-darker{
    background-color: #1a1a1a;
}

main {
    flex-grow: 1;
    /* background-image: linear-gradient(#000000,#ffa031,#000); */
    /* background-color: #e2e2e2; */
}

#login-btn{
    justify-self: flex-end;
}

.logo{
    max-height: 80px;
    /* max-height: 70px; */
    width: 140px;
}

#nav-name{
    flex-grow: 1;
}
.navbar-collapse{
    flex-grow: 0;
}

#banner-container{
    background-image: url(./assets/pexels-markus-spiske-1089440.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    height: 45vh;
    background-attachment: scroll;
}
.banner-content{
    height: 100%;
    width: 100%;
    /* background-color: rgb(0, 0, 0, 0.3); */
}

.edit-btn{
    cursor: pointer;
}

#about-personal{
    /* position: relative; */
}

.about-photo{
    /* position: absolute; */
    width: 100%;
    height: 100%;
    max-height: 220px;
    max-width: 200px;
    /* z-index: 1; */
    object-fit: cover;
    /* top: -8rem; */
}