<section id="about"
    class="container-sm d-flex flex-column flex-md-row p-3 justify-content-between align-items-center  text-center border border-warning rounded mt-2 bg-dark shadow">

    <div id="about-personal" class="px-3 d-flex flex-column justify-content-between align-items-center h-100">
        <img *ngIf="persona.fotoURL" src="{{persona.fotoURL}}" alt="Esteban Pisani"
            class="border rounded-circle border-3 border-warning mb-3 about-photo">
        <img *ngIf="!persona.fotoURL" src="../../../assets/default-user-profile.png" alt="Esteban Pisani"
            class="border rounded-circle border-3 border-warning mb-3 about-photo">
        <div class="d-flex flex-column justify-content-center flex-sm-row justify-content-sm-center w-100 text-center">
            <h1>{{persona.nombre}} {{persona.apellido}}</h1>
        </div>
        <h3>Desarrollador Full Stack</h3>
    </div>
    <div id="about-description"
        class="p-3 container-sm d-flex flex-column align-items-center align-self-lg-start align-items-md-start border border-warning rounded">
        <div
            class="d-flex align-items-center justify-content-center justify-content-md-between w-100 flex-wrap text-center text-md-start mb-3">
            <h3>Acerca de</h3>
        </div>
        <div id="about-content" class="w-100">

            <ul class="list-group list-group-flush text-center text-md-start bg-light border rounded">
                <li class="list-group-item bg-light">
                    <p class="">{{persona.descripcion}}</p>
                </li>
                <li class="list-group-item lead bg-light"><span>Estudiante</span> en <a
                        href="https://argentinaprograma.inti.gob.ar/"><strong>Argentina
                            Programa</strong></a>
                </li>
                <li *ngIf="persona?.email" class="list-group-item bg-light"><i class="bi bi-geo-alt"></i>
                    <i class="fa-solid fa-envelope"></i> {{persona.email}}.
                </li>
                <li *ngIf="persona.pais" class="list-group-item bg-light"><i class="bi bi-geo-alt"></i>
                    <i class="fa-solid fa-location-dot"></i> {{persona.ciudad}}, {{persona.pais}}.
                </li>
            </ul>

            <button *ngIf="isAdmin" type="button" class="btn btn-success w-100 mt-3"
                routerLink="edit-person/{{persona.id}}">
                Editar Perfil
            </button>
        </div>
    </div>
</section>