/* FOOTER */
footer{
    color: rgb(199, 111, 4);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background: linear-gradient(to right, #121214,#000000);
    bottom: 0;
}

footer li{
    display: inline-block;
    margin-right: 20px;
    padding: 5px;
}
footer li a:hover{
    color: rgba(201, 112, 5, 0.808);
    }