<footer id="footer"
class="container-fluid d-flex flex-column flex-md-row justify-content-between flex-wrap align-items-center bg-dark text-orange">
<div class="p-1">
    <ul class="p-1 d-flex justify-content-center fs-4 flex-wrap ">
        <a class="px-3 text-orange" aria-current="page" href="https://github.com/estebanpisani/">
            <i class="fa-brands fa-github text-orange"></i>
        </a>
        <a class="px-3 text-orange" href="https://linkedin.com/in/esteban-pisani">
            <i class="fa-brands fa-linkedin text-orange"></i>
        </a>
        <a class="px-3 text-orange" href="https://instagram.com/">
            <i class="fa-brands fa-instagram text-orange"></i>
        </a>
        <a class="px-3 text-orange" href="mailto:estebandpisani@gmail.com">
            <i class="fa-solid fa-envelope text-orange"></i>
        </a>
    </ul>
</div>
<div class="p-1 d-flex justify-content-center fs-5 flex-wrap">
    <p> &copy; Esteban Pisani - 2022</p>
</div>
</footer>

<!-- <footer>
    <p class="footer-copy"> &copy; Copyright Esteban Pisani 2022.</p>
    <ul class="social-list">
        <li><a href="https://www.instagram.com/teban_pisani/" target="_blank"><i class="bi bi-instagram"></i></a></li>
        <li><a href="https://twitter.com/TebanPisani" target="_blank"><i class="bi bi-twitter"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UC_4C4HZhLYWYLTSHX6hu1Nw" target="_blank"><i class="bi bi-youtube"></i></a></li>
    </ul>
</footer> -->