<app-header></app-header>
<div class="container border shadow-lg">
    <div class="row mt-3">
        <div class="col-md-6 mx-md-auto text-light">
            <h3 class="text-center text-warning">Editar datos:</h3>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreInstituto" class="form-label my-2 text-warning">Nombre Instituto</label>
                    <input type="text" class="form-control" id="nombreInstituto" name="nombreInstituto"
                    [(ngModel)]="educacion.nombreInstituto" required>
                </div>
                <div class="form-group">
                    <label for="curso" class="form-label my-2 text-warning">Curso</label>
                    <input type="text" class="form-control" id="curso" name="curso"
                    [(ngModel)]="educacion.curso" required>
                </div>
                <div class="form-group">
                    <label for="descripcion" class="form-label my-2 text-warning">Descripción</label>
                    <textarea type="text" class="form-control" id="descripcion" name="descripcion"
                    [(ngModel)]="educacion.descripcion" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="fechaInicio" class="form-label my-2 text-warning">Fecha de Inicio</label>
                    <input type="date" class="form-control" id="fechaInicio" name="fechaInicio"
                    [(ngModel)]="educacion.fechaInicio">
                </div>
                <div class="form-group" class="form-label my-2 text-warning">
                    <label for="fechaFin">Fecha de Finalización</label>
                    <input type="date" class="form-control" id="fechaFin" name="fechaFin"
                    [(ngModel)]="educacion.fechaFin" [disabled]="!educacion.fechaInicio">
                </div>
                <div class="form-group" class="form-label my-2 text-warning">
                    <label for="websiteURL">URL Sitio Web</label>
                    <input type="text" class="form-control" id="websiteURL" name="websiteURL"
                    [(ngModel)]="educacion.websiteURL">
                </div>
                <div *ngIf="f.submitted && isFail" class="alert alert-danger mt-3" >{{errorMsg}}</div>
                <div class="d-flex flex-column mt-3">
                    <button class="btn btn-block btn-success my-3">
                        Guardar
                    </button>
                    <button class="btn btn-block btn-primary mb-3" routerLink="/">
                        Volver
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
