<section id="skills"
    class="container-sm d-flex flex-column justify-content-center align-items-center align-items-md-start border border-warning rounded mt-3 p-3 bg-dark shadow">
    <div
        class="d-flex justify-content-center justify-content-md-between align-items-center w-100 flex-wrap text-center text-md-start">
        <h3>
            Skills
            <i class="bi bi-chevron-compact-down edit-btn" data-bs-toggle="collapse" data-bs-target="#skills-content"
                aria-expanded="true" aria-controls="skills-content">
            </i>
        </h3>
        <!-- <div *ngIf="isAdmin" class="col-md-4 col-2 text-end text-md-end text-xxl-end">
            <button type="button" class="btn text-warning fs-4" routerLink="new-proy">
                <i class="fa-solid fa-plus"></i>
            </button>
        </div> -->
    </div>

    <div id="skills-content" class="collapse show w-100">
        <div class="row fs-2 text-center d-flex justify-content-center">
            <div class="col col-sm-4 col-md-auto">
                <i class="fa-brands fa-html5"></i>
                <h5>HTML</h5>
            </div>
            <div class="col col-sm-4 col-md-auto">
                <i class="fa-brands fa-css3-alt"></i>
                <h5>CSS</h5>
            </div>
            <div class="col col-sm-4 col-md-auto">
                <i class="fa-brands fa-js"></i>
                <h5>JavaScript</h5>
            </div>
            <div class="col col-sm-4 col-md-auto">
                <i class="fa-brands fa-bootstrap"></i>
                <h5>Bootstrap</h5>
            </div>
            <div class="col col-sm-4 col-md-auto">
                <i class="fa-brands fa-angular"></i>
                <h5>Angular</h5>
            </div>
            <div class="col col-sm-4 col-md-auto">
                <i class="fa-brands fa-react"></i>
                <h5>ReactJS</h5>
            </div>
            <div class="col col-sm-4 col-md-auto">
                <i class="fa-brands fa-java"></i>
                <h5>Java</h5>
            </div>
            <div class="col col-sm-4 col-md-auto">
                <i class="fa-solid fa-leaf"></i>
                <h5>Spring Boot</h5>
            </div>
            <div class="col col-sm-4 col-md-auto">
                <i class="fa-brands fa-node"></i>
                <h5>NodeJS</h5>
            </div>
            <div class="col col-sm-4 col-md-auto">
                <i class="fa-brands fa-git-alt"></i>
                <h5>GIT</h5>
            </div>
        </div>
    </div>
</section>