<app-header></app-header>
<div class="container border shadow-lg">
    <div class="row mt-3 my-md-5">
        <div class="col-12 col-md-6 mx-md-auto text-light">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group py-3">
                    <label for="nombreEmpresa">Nombre del Proyecto</label>
                    <input type="text" class="form-control" id="nombreProyecto" name="nombreProyecto"
                     [(ngModel)]="nombreProyecto" required>
                </div>
                <div class="form-group py-3">
                    <label for="descripcion">Descripción</label>
                    <textarea type="text" class="form-control" id="descripcion" name="descripcion" 
                    [(ngModel)]="descripcion"></textarea>
                </div>
                <div class="form-group py-3">
                    <label for="websiteURL">Sitio Web</label>
                    <input type="text" class="form-control" id="websiteURL" name="websiteURL" 
                    [(ngModel)]="websiteURL">
                </div>
                <div *ngIf="f.submitted && isFail" class="alert alert-danger mt-3" >{{errorMsg}}</div>
                <div class="d-flex flex-column mt-2">
                    <button class="btn btn-block btn-success my-3">
                        Guardar
                    </button>
                    <button class="btn btn-block btn-primary mb-3" routerLink="/">
                        Volver
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>